<div class="page-header">
  <h1>Accomplishments</h1>
  <button id="resumeButton" type="button" class="btn btn-success">Download Resume</button>
</div>

<div class="well">
  <h3>Leadership</h3>
  <p>I currently serve as the Events Coordinator for 
  <a href="http://www.wolverinesoft.org/home">Wolverine Soft</a></p>

  <p>EECS 281, EECS 280, EECS 203</p>

  <h3>Programming Language Proficiencies</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 45%">
      <span class="sr-only">45% Complete (success)</span><b>C++</b>
    </div>
    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 30%">
      <span class="sr-only">30% Complete (warning)</span><b>C#</b>
    </div>
    <div class="progress-bar progress-bar-danger" style="width: 25%">
      <span class="sr-only">25% Complete (danger)</span><b>Ruby/Rails</b>
    </div>
  </div>

</div>
