<div class="page-header">
  <h1>Welcome to my game development portfolio website.</h1> <h3>Made with Ruby on Rails</h3>
</div>

<div class="well">
  <p>You can check out the source code and more on my GitHub: 
  <%= link_to image_tag("GitHub-Mark-32px.png"), "https://github.com/coobenja" %></p>
</div>
