<h3>Welcome to my portfolio website. Made with Ruby on Rails</h3>
<p>You can check out the source code and more on my GitHub: 
<%= link_to image_tag("GitHub-Mark-32px.png"), "https://github.com/coobenja" %></p>
