<div class="page-header">
  <h1>My Games</h1>
</div>

<% if current_user %>
  <button id="resumeButton" type="button" class="btn btn-success">
    <%= link_to 'New post', new_post_path %>
  </button>
<% end %>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-4">
      <div class="well">
      <div class="thumbnail">
        <%= image_tag post.avatar.url(:medium) %>
      </div>
        <div class="caption">
          <h2><%= link_to post.title, post_path(post) %></h2>
        </div>
        <% if current_user %>
          <td><%= link_to 'Destroy', post_path(post),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
