@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  #background-color: #33CCFF;
}

.btn-lg {
  margin-left: 13%;
  margin-right: 50px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 9px;
  padding-top: 9px;
}
