<div class="page-header">
  <h1>About Me</h1>
  <button id="resumeButton" type="button" class="btn btn-success">Download Resume</button>
</div>

<div class="col-sm-3">
<img src="<%= asset_path( 'Cheese.jpg' ) %>" />
</div>


<div class="col-sm-9">
  <div class="well">
    <h3>My name is Ben Cooper</h3>
    <p>
      I am a third year student at the University of Michigan College of Engineering, studying Computer Science. I have extensive experience with developing software namely in the form of video game development. Additionally, I am also proficient with real world, full stack web development through Ruby on Rails.
    </p>
    <p>
      I have a passion for the software development process and for making things in general. I am a very self motivated learner.
    </p>

    <h3>Relevant Employment</h3>
    <p>- Full Stack Ruby on Rails Development Intern</p>
    <p>- Virtual Reality Developer</p>
    <p>- Assistant Game Developer for SCI-Hard, on IOS and Android</p>

    <h3>Education</h3>
    <p>University of Michigan, Ann Arbor.</p>
    <p>Bachelor of Science in Engineering, Computer Science, 2017 </p>
    <p>EECS 281: Algorithms and Data Structures</p>
  </div>
</div>
